/* Page Header */
.page-header {
  background-image: url(https://s3.crackedcdn.com/phpimages/article/9/9/0/618990.jpg?v=2);
  background-size: cover;
  color: hsl(0, 0%, 100%);
}

.container {
  max-width: 1280px;
  margin: auto;
}

.page-header .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 300px;
  padding: 15px;
}

.hero-text {
  width: 33.33%;
}

main {
  margin-bottom: 50px;
}

aside,
section {
  padding: 50px 15px;
}

.newsfeed li {
  padding-bottom: 50px;
  border-bottom: 1px solid hsl(0, 0%, 0%);
}

@media screen and (min-width: 600px) {
  .newsfeed {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .newsfeed li {
    width: 100%;
    flex-basis: auto;
  }

  .newsfeed li {
    width: calc(50% - 7.5px);
  }
}

@media screen and (min-width: 1200px) {
  .newsfeed li {
    /* 2 gutters of 15px divided amonst the 3 columns */
    width: calc(33.33% - calc(calc(15px * 2) / 3));
  }
}

.avatar {
  object-fit: cover;
  max-height: 300px;
  width: 100%;
  margin-bottom: 15px;
}

.goth .avatar {
  max-height: 170px;
}

.page-footer {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  padding: 15px;
}

.page-footer p {
  margin-bottom: 0;
}



/* GOTH NEWSFEED */

@media screen and (min-width: 1200px) {
  .goth .newsfeed li {
    /* 3 gutters of 15px divided amonst the 4 columns */
    width: calc(25% - calc(calc(15px * 3) / 4));
  }
}